@use "../../global/variables.scss" as vars;

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 10px 99px 10px;
  background-color: #ffffff;
  padding-block-start: 96px;
  padding-block-end: 104px;
}

.subscription--background {
  background-color: vars.$primary-bg-color;
  background-image: url(../../assets/image/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  p,
  p:first-of-type {
    color: #ffffff;
  }
}

.subscription__intro {
  margin-block-end: 54px;
  padding-inline: 0;

  p:first-of-type {
    letter-spacing: 2px;
  }
}

.subscription__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.subscription__button {
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  min-height: 52px;
  background-color: vars.$primary-bg-color;
  border-radius: 0 4px 4px 0;
  padding-bottom: 6px;
}
