@use '../../global/variables.scss' as vars;

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  text-align: start;
  user-select: none;
  padding: 8px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:focus-visible {
    outline: 3px solid vars.$primary-bg-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
};

.button--primary {
  background-color: vars.$button-primary;

  &:hover {
    background-color: #615048;
  }
}

.button--secondary {
  background-color: vars.$primary-bg-color;

  &:hover {
    background-color: #68a2ca;
  }
}
