@use '../../global/variables.scss' as vars;

.container {
    display: flex;
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding-left: 70px;
    padding-right: vars.$padding-x;
}
