/* Шрифты */
$font-main: "PT Sans", "Arial", sans-serif;;

/* Паддинги */
$padding-x: 70px;

/* Цвета */
$primary-text-color: #333333;
$secondary-color: #000000;
$primary-bg-color: #82b3d3;
$secondary-bg-color: rgba(131, 179, 211, 0.12);
$accent-bg-color: rgba(131, 179, 211, 0.2);
$form-error: #ff5757;
$disabled: #e5e5e5;
