/* Шрифты */
$font-main: "PT Sans", "Arial", sans-serif;;

/* Паддинги */
$padding-x: 70px;

/* Цвета */
$primary-text-color: #484848;
$secondary-color: #f0efe9;
$primary-color: #316dc2;
$primary-bg-color: #f0efe9;
$form-error: #ff5e66;
$form-error-bg: rgba(255, 94, 102, 0.2);
$disabled: #a9afb7;
