label:has(.select) {
    --select-arrow-rotate: 0deg;

  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%) rotate(var(--select-arrow-rotate, 0deg));;
    content: "";
    mask-image: url("../../assets/image/icons/arrow-select.svg");
    mask-repeat: no-repeat;
    mask-size: 13px 10px;
    background-color: #3F5E72;
    width: 13px;
    height: 10px;
    pointer-events: none;
    transition: transform 0.3s ease;
  }


}


.select {
  position: relative;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  min-width: 292px;
  min-height: 49px;
  padding: 14px 32px 14px 20px;
  outline: 1px solid transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
  transition: border-color 0.3s ease;

  &:focus-visible {
    border-color: #83b3d3;
  }
}
