@use '../../global/variables.scss' as vars;

.header__navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__navigation-link {
  position: relative;
  display: block;
  color: #000000;
  text-decoration: none;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 16px;
  transition: color 0.3s ease ;

  &::after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 80%;
    height: 2px;
    transition: background-color 0.3s ease;
  }

  &:hover::after {
    background-color: vars.$button-primary;
  }
}

.header__navigation-link--current {
  &::after {
    background-color: vars.$button-primary;
  }
}

.header__navigation-list {
  display: flex;
  flex-wrap: wrap;
}
