@use '../../global/variables.scss' as vars;

.header {
  margin-block-end: -6px;

  .container {
    flex-wrap: wrap;
    align-items: center;
    gap: 31px;
  }
}


// Главная навигация header.

.header__navigation {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.header__navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-inline-end: auto;
}

.header__navigation-link {
  position: relative;
  display: block;
  color: #000000;
  text-decoration: none;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 16px;
  transition: color 0.3s ease ;

  &::after {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 80%;
    height: 2px;
    transition: background-color 0.3s ease;
  }

  &:hover::after {
    background-color: vars.$button-primary;
  }

  &:focus-visible {
    outline: 3px solid vars.$primary-bg-color;
    outline-offset: -10px;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.header__navigation-link--current {
  &::after {
    background-color: vars.$button-primary;
  }
}

// SuMenu навигации.

.header__sub-menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
};

.header__sub-menu-item {
  position: relative;

  &:nth-last-child(2) {
    margin-inline-end: 25px;
  }

  &:has(.header__sub-menu-button--like):has(.header__sub-menu-button--liked) {
    .header__sub-menu-like-counter::before {
      background-color: vars.$primary-bg-color;
    }
  }
};

.header__sub-menu-counter-container {
  position: absolute;
  top: -6px;
  right: 9px;
};

.header__sub-menu-like-counter {
  position: relative;
  font-family: inherit;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: #7db54f;
    transition: background-color 0.3s ease;
    z-index: -1;
  }
};

.header__sub-menu-button {
  --mask-image: 0;

  position: relative;
  display: inline-flex;
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  outline: 1px solid transparent;
  background-color: transparent;
  text-decoration: none;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  transition: border-color 0.3s ease;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 19px;
    height: 19px;
    mask-image: var(--mask-image);
    mask-position: center;
    mask-size: 19px 19px;
    mask-repeat: no-repeat;
    background-color: #000000;
    transition: background-color 0.3s ease;
  }

  &:hover::before {
    background-color: #83b3d3;;
  }

  &:focus-visible,
  &:active {
    border-color: vars.$primary-bg-color;
  }
};

.header__sub-menu-button--search {
  --mask-image: url(../../assets/image/icons/search.svg);
};

.header__sub-menu-button--like {
  --mask-image: url(../../assets/image/icons/favorite.svg);
};

.header__sub-menu-link {
  min-width: 160px;
  min-height: 36px
};
